@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Montserrat";
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.App {
    position: relative;
}

.button,
input[type="submit"] {
    border: 1px solid black;
    color: black;
    padding: 6px 8px;
    font-family: inherit;
    background-color: #ffffff;
}

#imageUpload {
    border: 1px solid gray;
}

#imageUpload::-webkit-file-upload-button {
    border: 1px solid black;
    color: black;
    padding: 5px 8px;
    font-family: inherit;
    background-color: #ffffff;
}

.wrapper {
    position: relative;
    width: 1000px;
    /* border: 1px solid magenta; */
}

.container {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.canvasWrapper {
    min-width: 50%;
    max-width: 80%;
    position: relative;
    /* border: 1px solid blue; */
}

.form {
    width: 50%;
    /* border: 1px solid salmon; */
    margin-bottom: 20px;
}

.effectWrapper {
    padding: 0 20px 0 30px;
    position: relative;
    width: 30%;
    /* border: 1px solid cyan; */
    position: relative;
}

.features {
    position: relative;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.thumbnails button {
    width: 30%;
}

.thumbnails button p {
    font-size: 0.7rem;
}

.thumbnails button img {
    max-width: 100%;
    z-index: 0;
}

.thumbnails button {
    outline: 0;
    border: none;
    background-color: white;
}

figure {
    padding: 0;
    margin: 0;
}

.previewImage,
canvas {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

button,
input {
    padding: 0;
    font-family: inherit;
}

.duotonePreview {
    min-height: 80px;
}

h3 {
    margin: 10px 0;
}

.slidebar {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-between;
    margin-bottom: 5px;
}

.slidebar .name {
    flex-basis: 45%;
}

.slidebar .input {
    flex-basis: 35%;
}

.slidebar .number {
    margin-left: 5px;
    flex-basis: 15%;
}

.colorButtons {
    width: 100%;
}

.effects,
.colorButtons {
    width: 100%;
    margin: 15px 0;
}

.colorButtons button {
    background-color: gray;
}

.block-picker.colorpicker {
    position: absolute !important;
    box-sizing: content-box;
    border: 1px solid #ddd;
    z-index: 10;
}

.block-picker.colorpicker.highlight {
    left: -10px;
}

.block-picker.colorpicker.shadow {
    left: 100px;
}

.hidden {
    display: none !important;
}

.colorButtons {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.colorButtons .colorDiv {
    flex-basis: 50%;
}

.swatch {
    width: 120px;
    height: 20px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.message {
    visibility: hidden;
    width: 100%;
    background-color: #ddd;
}

.visible {
    visibility: visible;
}

button#download {
    position: absolute;
    top: -50px;
    right: -70px;
}

.tab {
    padding: 5px 10px;
    border: 1px solid gray;
    background-color: white;
}

.tab.active {
    background-color: black;
    color: white;
}

span.colorDivName {
    margin-bottom: 10px;
}
