@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "./slidebar.css";
@import "./duotone.css";
@import "./imageUpload.css";

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: "Lato";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

:root {
    --bg: #121212;
    --menu: #181818;
    --secondary: #282828;
    --text: #fff;
    --body: #b3b3b3;
    --middle: #818181;
}

.App {
    position: relative;
}

.button,
input[type="submit"] {
    border: 1px solid var(--text);
    border-radius: 20px;
    color: var(--text);
    padding: 8px 20px;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 8pt;
}

.wrapper {
    position: relative;
    width: 900px;
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
}

.container {
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.canvasWrapper {
    width: 55%;
    position: relative;
    border: 1px solid blue;
}

.form {
    width: 50%;
    margin-bottom: 20px;
}

.effectWrapper {
    padding: 0 20px 0 30px;
    position: relative;
    width: 45%;
    position: relative;
}

.features {
    position: relative;
}

figure {
    padding: 0;
    margin: 0;
}

.previewImage,
canvas {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

button,
input {
    padding: 0;
    font-family: inherit;
}

h2 {
    margin: 0 0 20px 0;
}

h3 {
    margin: 10px 0;
}

.colorButtons {
    width: 100%;
}

.effects,
.colorButtons {
    width: 100%;
    margin: 20px 0 0 0;
}

.effects hr {
    margin: 25px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.colorButtons button {
    background-color: gray;
}

.block-picker.colorpicker {
    position: absolute !important;
    box-sizing: content-box;
    border: 1px solid #ddd;
    z-index: 10;
}

.block-picker.colorpicker.highlight {
    left: -10px;
}

.block-picker.colorpicker.shadow {
    left: 100px;
}

.hidden {
    display: none !important;
}

.colorButtons {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.colorButtons .colorDiv {
    flex-basis: 50%;
}

.swatch {
    width: 120px;
    height: 20px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.message {
    visibility: hidden;
    width: 100%;
    background-color: #ddd;
}

.visible {
    visibility: visible;
}

button#download {
    position: absolute;
    top: -50px;
    right: -70px;
}

.tab {
    padding: 5px 10px;
    border: 1px solid gray;
    background-color: white;
}

.tab.active {
    background-color: black;
    color: white;
}

span.colorDivName {
    margin-bottom: 10px;
}
