.thumbnails {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
    justify-content: space-between;
    z-index: 1;
    position: relative;
    padding-top: 20px;
}

.thumbnails button p {
    font-size: 0.6rem;
    font-family: inherit;
    letter-spacing: 2px;
    color: var(--text);
    text-transform: uppercase;
}

.thumbnails button img {
    max-width: 100%;
    z-index: 0;
}

.thumbnails button {
    width: 30%;
    height: auto;
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: transparent;
}

.colorButtons {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.colorButtons .colorDiv {
    flex-basis: 50%;
}

.swatch {
    width: 120px;
    height: 20px;
    margin-top: 10px;
}

.effects,
.colorButtons {
    width: 100%;
    /* margin: 20px 0 0 0; */
}

/* .colorButtons button {
    background-color: gray;
} */
