/* #imageUpload {
    border: 1px solid gray;
}

#imageUpload::-webkit-file-upload-button {
    border: 1px solid black;
    color: black;
    padding: 5px 8px;
    font-family: inherit;
    background-color: #ffffff;
}
 */

/* #imageUpload {
     position: absolute;
 } */
/* 
#imageUpload::-webkit-file-upload-button {
    visibility: hidden;
}
#imageUpload::before {
    content: "SELECT FILE";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);

    border: 1px solid var(--text);
    border-radius: 20px;
    color: var(--text);
    padding: 8px 20px;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    letter-spacing: 2px;
    font-size: 8pt;

    outline: none;
    -webkit-user-select: none;
}
#imageUpload:hover::before {
    border-color: black;
}
#imageUpload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
} */

label.inputLabel input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputLabel {
    border: 1px solid var(--button);
    font-family: inherit;
    border-radius: 20px;
    padding: 8px 20px;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.inputLabel:hover {
    background: var(--text);
    color: var(--bg);
}
/* .inputLabel:active {
    background: #ccf;
}
.inputLabel :invalid + span {
    color: #a44;
}
.inputLabel :valid + span {
    color: #4a4;
} */
